#-----Whitelist for .config-----
.config/*
.config/*/*
!.config/*/
# Terminal
!.config/kitty/**
# Zsh
!.config/zsh/**
.config/zsh/.histfile
# Terminal Utils
!.config/nvim/*
!.config/vifm/*
.config/vifm/vifminfo.json
!.config/neofetch/*
!.config/htop/*
# Rofi
!.config/rofi/*
# Pdf/Djvu Reader
!.config/zathura/*
# Window manager
!.config/qtile/*
.config/qtile/__pycache__
!.config/picom/*
# GTK
!.config/gtk-2.0/*
!.config/gtk-3.0/*
# Fonts
!.config/fontconfig/*
# Audio
!.config/pavucontrol.ini
# User Directories
!.config/user-dirs.dirs
!.config/user-dirs.locale
