[submodule ".config/zsh/zplugins/zsh-autosuggestions"]
	path = .config/zsh/zplugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule ".config/zsh/zplugins/zsh-syntax-highlighting"]
	path = .config/zsh/zplugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".config/zsh/zplugins/zsh-vi-mode"]
	path = .config/zsh/zplugins/zsh-vi-mode
	url = https://github.com/jeffreytse/zsh-vi-mode.git
[submodule ".config/zsh/zplugins/zsh-colored-man-pages"]
	path = .config/zsh/zplugins/zsh-colored-man-pages
	url = https://github.com/ael-code/zsh-colored-man-pages.git
[submodule ".config/zsh/zplugins/spaceship-prompt"]
	path = .config/zsh/zplugins/spaceship-prompt
	url = https://github.com/spaceship-prompt/spaceship-prompt.git
[submodule ".config/qtile/widgets"]
	path = .config/qtile/widgets
	url = https://github.com/ArseniySukhanov/qtile-widgets
