#-----Whitelist for .config-----
*
!.gitignore
# Terminal
!kitty/*
# Terminal Utils
!nvim/*
!vifm/*
!neofetch/*
!htop/*
# Window manager
!qtile/*
!picom/*
# GTK
!gtk-2.0/*
!gtk-3.0/*
# Fonts
!fontconfig/*
# Audio
!pavucontrol.ini
# User Directories
!user-dirs.dirs
!user-dirs.locale
